1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system"

file_path = 'test.txt'

with open(file_path,'w') as f:
    f.write(test1)

print(f"variable test text saved to {file_path}")

variable test text saved to test.txt

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
file_path = 'test.txt'

with open(file_path,'r') as f:
    test2=f.read()

if test1==test2:
    print(f"both files are same")
else:
    print(f"both files are not same")

both files are same

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [6]:
import csv

data = [
    ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner','1960'],
    ['Perdido Street Station','China Miéville','2000'],
    ['Thud!','Terry Pratchett','2005'],
    ['The Spellman Files','Lisa Lutz','2007'],
    ['Small Gods','Terry Pratchett','1992']

]

file_path='books.csv'

with open(file_path, 'w' , newline='') as csvfile:
    csvwriter= csv.writer(csvfile)
    csvwriter.writerows(data)
print(f"File successfully created")

File successfully created

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books(
        title TEXT,
        author TEXT,
        year INTERGER
    )

    ''')

conn.commit()
conn.close()

print("database and table are created")

database and table are created

5. Read books.csv and insert its data into the book table.

In [6]:
import csv
import sqlite3

def insert_data_csv(csv_file,db_file):
    conn=sqlite3.connect(db_file)
    cursor=conn.cursor()

    with open(csv_file,newline='',encoding='utf-8') as f:
        csv_reader=csv.DictReader(f)
        for row in csv_reader:
            title=row['title']
            author=row['author']
            year=int(row['year'])

            cursor.execute('INSERT INTO books (title,author,year) VALUES(?,?,?)',(title,author,year))

    conn.commit()
    conn.close()

In [7]:
csv_file='books.csv'
db_file='books.db'
insert_data_csv(csv_file,db_file)
print("data is inserted in db file")

data is inserted in db file

6. Select and print the title column from the book table in alphabetical order.

In [14]:
def print_tiles_asnding(db_file):

    conn=sqlite3.connect(db_file)
    cursor=conn.cursor()

    cursor.execute('SELECT title FROM books ORDER BY title ASC')
    titles = cursor.fetchall()

    print("Tiles in ASC order:")
    for title in titles:
        print(title[0])
    conn.close()

In [15]:
print_tiles_asnding('books.db')

Tiles in ASC order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [18]:
def print_book_year(db_file):

    conn = sqlite3.connect(db_file)
    cursor=conn.cursor()

    cursor.execute('SELECT * FROM books ORDER BY year ASC')
    books = cursor.fetchall()

    print("Books inorder of prod")

    for book in books:
        print(f"book : {book[0]}, Author: {book[1]}, Year :{book[2]}")
    conn.close()

In [19]:
print_book_year('books.db')

Books inorder of prod
book : The Weirdstone of Brisingamen, Author: Alan Garner, Year :1960
book : Small Gods, Author: Terry Pratchett, Year :1992
book : Perdido Street Station, Author: China Miéville, Year :2000
book : Thud!, Author: Terry Pratchett, Year :2005
book : The Spellman Files, Author: Lisa Lutz, Year :2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [22]:
from SQLALchemy import create_engine

db_engine = create_engine('sqlite://books.db',echo=True)

with db_engine.connect() as conn:
    result = conn.execute(" SELECT 'connection sucessfull' ").fetchone()
    print(result[0])

ModuleNotFoundError: No module named 'SQLALchemy'