Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [14]:
def is_symmetrical(x):
    """checking if the number is symetrical if reversed"""
    lst=[]
    for i in str(x):
        lst.append(i)
    lst2 = lst[::-1]

    if lst==lst2:
        return True
    else:
        
        return False

In [16]:
is_symmetrical(125)

False

In [15]:
is_symmetrical(12567)

False

In [17]:
is_symmetrical(7227)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [30]:
def prod_str(str):
    """product of numbers from a string"""
    str = str.replace(" ","")
    lst = str.split(",")
    prod=1
    for i in lst:
        prod = prod * int(i)
    print(prod)

In [31]:
prod_str("54, 75, 453, 0")

0

In [32]:
prod_str("1, 2, 3, 4")

24

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [36]:
def sqr_digit(x):
    """square every digit"""
    lst=[]
    for i in str(x):
        lst.append(int(i)**2)
    return "".join(str(i) for i in lst)

In [37]:
sqr_digit(334)

'9916'

In [38]:
sqr_digit(2483)

'416649'

In [39]:
sqr_digit(9119)

'811181'

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [46]:
def remove_dub(lst):
    """Remove dublicae from the list"""
    lst.sort()
    return list(set(lst))

In [47]:
lst=[5, 7, 8, 9, 10, 15]
remove_dub(lst)

[5, 7, 8, 9, 10, 15]

In [48]:
lst=[4, 4, 4, 4]
remove_dub(lst)

[4]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

The mean will always be an integer.

In [49]:
def mean_num(x):
    """Mean of all numbers"""
    lst=[]
    for i in str(x):
        lst.append(int(i))
    mean = sum(lst)/len(lst)
    return mean

In [50]:
mean_num(345)

4.0

In [51]:
mean_num(42)

3.0

In [52]:
mean_num(12345)

3.0

In [53]:
mean_num(666)

6.0