Question1

Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [1]:
def filter_list(lst:list)->list:
    """return only intergers of a list in list dtype"""
    new_lst=[]
    for i in lst:
        if type(i)==int:
            new_lst.append(i)
    return new_lst

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["Nothing", "here"])

[]

Question2

Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [4]:
def add_indexes(lst:list)->list:
    """add indices number to the list"""
    new_lst=[]
    for i in range(len(lst)):
        if type(lst[i])==int:
            new_lst.append(lst[i]+i)
        else:
            return "string in te list"
        
    return new_lst

In [5]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [6]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [7]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

Question3

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.


Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [10]:
def cone_volume(h:float,r:float)->float:
    """calculating the height of cone"""
    vol = (1/3)*3.14*h*(r**2)
    return round(vol,2)

In [11]:
cone_volume(3, 2)

12.56

In [12]:
cone_volume(15, 6)

565.2

In [13]:
cone_volume(18, 0)

0.0

Question4

This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 

1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the sequence.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [17]:
#Triangular numbers are numbers that make up the sequence 1, 3, 6, 10, . . .. The nth triangular number in the
 #sequence is the number of dots it would take to make an equilateral triangle with n dots on each side.
#The formula for the nth triangular number is (n)(n + 1) / 2.

def triangle(n:int)->float:
    """Counting the number of dots"""
    tri_count=(n*(n+1))/2
    return tri_count

In [18]:
triangle(215)

23220.0

In [19]:

triangle(6)

21.0

In [20]:
triangle(1)

1.0

Question5

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [27]:
def missing_num(lst:list)->int:
    """Finding te missing number in alist from 1 to 10"""
    missing_finder=[i for i in range(1,11)]
    for i in missing_finder:
        if i not in lst:
            return i

In [28]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [29]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [30]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7